*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    font-size: 12px;
}

ul,li{
    list-style: none;
}
html{
    overflow-x: hidden;
    overflow-y: auto;
}
body{
    -webkit-font-smoothing: antialiased;
    color: #666;
    font: 12px/1.5 Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
    background: #f6f6f6;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
.wrapper{
    width: 1190px;
    position: relative;
    margin: 0 auto;
}
#top{
    height: 30px;
    background-color: #e3e4e5;
    border-bottom: 1px solid #ddd;
}
#top a{
    cursor: auto;
    color: #999;
    font: 12px/1.5 Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
}
#top a:hover{
    color: #c81623;
}
#top .location{
    display: inline-block;
    position: relative;
    line-height: 30px;
    padding: 0 10px;
    margin-left: 200px;
}
#top .location:hover {
    background: #fff;
}

#top .location-city{
    display: none;
    color: red;
    position: absolute;
    top: 30px;
    left: 0;
    width: 322px;
    padding: 10px;
    background: #fff;
    z-index: 2;
}
#top .location:hover .location-city{
    display: block;
}

#top .location-city > li {
    float: left;
    width: 60px;
    padding: 2px 0;
    line-height: 24px;
}
#top .location-city > li:hover{
    background-color: #f4f4f4;
}
#top .location-city > li:hover a{
    color: #c81623;
}


#top ul >li {
    color: #999;
    float: left;
    text-align: center;
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    /*margin:  10px;*/
    /*border-right: 1px solid #999;*/
    position:relative;
}
#top .bars-message > li:before{
    content: '';
    background: #ccc;
    width: 0;
    height: 10px;
    border-left: 1px solid #ccc;
    position: absolute;
    top: 10px;
    left: -1px;
}

#top .bars-message > li:nth-child(1):before{
    display: none;
}
#top .bars-message{
    float: right;
    position:relative;
}

#top .mobile_static {
    position: absolute;
    right: 10px;
    top: 29px;
    width: 66px;
    height: 66px;
    border: 1px solid #cfcfcf;
}
#top .mobile_static:before {
    content: '';
    display: block;
    position: absolute;
    top: -9px;
    left: 26px;
    height: 0;
    width: 0;
    border-width: 5px;
    border-style: solid;
    border-color: #e4e4e4 #e4e4e4 #f6f6f6;
}
#top .mobile_static_qrcode {
    background: url(../../images/jingodng-mobile-weixin.jpg) 50% no-repeat;
    background-size: 60px;
    width: 60px;
    height: 60px;
    margin: 2px;
}
#top .bars-message > li:nth-child(1) a{
    color: red;
    display: inline-block;
    padding-left: 5px;
}


/*___________logo CSS_______*/
#logo{
    position: absolute;
    top: -30px;
    left: 0;
    height: 170px;
    width: 190px;
    background-color: #fff;
    box-shadow: 0 -12px 10px rgba(0,0,0,0.2);
    overflow: hidden;
    z-index: 2;
}
#logo h1{
    width: 100%;
    height: 100%;
}
#logo h1 > a {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url(https://misc.360buyimg.com/mtd/pc/index/home/images/logo.v2@2x.png);
    background-size: 190px 170px;
}
#header .wrapper{
    height: 140px;
}
#header .wrapper .search{
    position: absolute;
    width: 550px;
    height: 35px;
    left: 320px;
    top: 25px;
    z-index: 1;
}
#header .wrapper .search input{
    display: inline-block;
    width: 490px;
    height: 35px;
    font-size: 14px;
    line-height: 35px;
    padding: 5px;
    outline: none;
    border: 1px solid #f10215;
}
#header .wrapper .search button{
    cursor: pointer;
}
div.hotwords a {
    display: inline-block;
    margin: 5px 4px 3px 0;
    color: #999;
    overflow: hidden;
}
div.hotwords a:nth-child(1){
    color: #f10215;
}


#header .wrapper .shopping-cart {
    position: relative;
    top: 25px;
    left: 890px;
    line-height: 35px;
    width: 190px;
    z-index: 4;
}
#header .shopping-cart div {
    background: #fff;
    border: 1px solid #e3e4e5;
    overflow: hidden;
}
#header .shopping-cart .c1 {
    position: relative;
    text-align: center;
    width: 190px;
    z-index: 2;
    overflow: hidden;
}
#header .shopping-cart .c2 {
    position: relative;
    top: -1px;
    left: -118px;
    width: 308px;
    display: none;
    z-index: 2;
    text-align: center;
    line-height: 49px;
    box-shadow: 1px 2px 1px rgba(0,0,0,.1);
    color: #999
}
#header .shopping-cart .c2 b{
    float: left;
    width: 56px;
    height: 49px;
    background-image: url(https://img11.360buyimg.com/uba/jfs/t3571/299/131233948/1117/a1196554/58004d6dN2927f0f7.png);
}

#header .shopping-cart div a{
    color:#f10214;
}
#header .shopping-cart div .zero {
    position: absolute;
    top: 5px;
    left: 140px;
    right: auto;
    display: inline-block;
    padding: 2px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    background-color: #f10215;
    border-radius: 9px;
    min-width: 12px;
    text-align: center;
}
#header .shopping-cart:hover .c1{
    border: 1px solid #ccc;
    border-bottom: none;
    z-index: 2;
}
#header .shopping-cart:hover .c2{
    display: block;
    border: 1px solid #ccc;
    z-index: 1;
    padding: 10px 10px 10px 35px;
}

#header .wrapper .hotwords{
    position: absolute;
    left: 320px;
    top: 60px;
}

#header nav{
    position: absolute;
    left: 200px;
    bottom: 0;
    width: 790px;
    height: 40px;
}
#header nav a{
    color: #555;
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 700;
}
#header nav a:hover{
    color: #c81623;
}
#header nav ul, #header nav ul li{
    float: left;
}
#header nav ul li{
    margin-left: 30px;
}
#header nav ul:before{
    content: '';
    display: block;
    width: 1px;
    height: 10px;
    background: #ccc;
    position: absolute;
    overflow: hidden;
    margin-top: 15px;
    margin-left: 15px;
}
#header nav ul:nth-child(1):before{
    display:none;
}


/*---------- first screen css ------------*/

#first-screen .background-link {
    position: absolute;
    top: 170px;
    left: 2px;
    /*background: red;*/
    background: url(../../images/jingdong-firstscreen-background.png) 50% 0 no-repeat;
    height: 480px;
    width: 100%;
}
#first-screen .background-link a{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}
#first-screen .left {
    width: 190px;
    margin-right: 10px;
}

#first-screen .left .main-menu{
    padding: 15px 0;
    background-color: #6e6568;
    color: #fff;
    position: relative;
}

#first-screen .left .main-menu > li{
    padding-left: 12px;
    height: 30px;
    line-height: 30px;
    font-size: 0;
    /*position: relative;*/
}
#first-screen .left .main-menu > li:hover{
    background: #999395;
}
#first-screen .left .main-menu > li a{
    font-size: 14px;
    color: #fff;
}
#first-screen .left .main-menu > li a:hover{
    color: #c81623;
}
#first-screen .left .main-menu > li .cate_menu_line {
    padding: 0 4px;
    font-size: 12px;
}
#first-screen .left .main-menu .menu-on .menu-on-block{
    position: absolute;
    left: 190px;
    top: 0;
    width: 1002px;
    background: rgba(255,1,1,0.2);
    box-shadow: 1px 2px 12px 0 rgba(0,0,0,0.25);
    padding: 20px;
    background: #f7f7f7;
    color: black;
    z-index: 3;
    display: none;
    /*border: 1px solid #b61d1d;*/
    /*border-top: none;*/
}
#first-screen .left .main-menu>li:hover .menu-on-block{
    display: block;
}
#first-screen .left .main-menu .menu-on .menu-on-block .menu-on-left{
    display: inline-block;
    width: 700px;
    margin-right: 84px;
    vertical-align: top;
    height: 460px;
}
#first-screen .left .main-menu .menu-on .menu-on-block .menu-on-left .left-title{
    height: 24px;
    line-height: 24px;
}
#first-screen .left .main-menu .menu-on .menu-on-block .menu-on-left .left-title  a{
    display: inline-block;
    float: left;
    margin-right: 10px;
    color: #fff;
}
#first-screen .left .main-menu .menu-on .menu-on-block .menu-on-left .left-title  a span {
    background: #7c7171;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 0 0 0 8px;
    font-family: 'microsoft yahei';
    text-align: center;
    /* padding: 0px; */
    /* margin-left: 5px; */
    vertical-align: middle;
}
#first-screen .left .main-menu .menu-on .menu-on-block .menu-on-left .left-title  a:hover span {
    background-color: #6e6568
}

#first-screen .left .main-menu .menu-on .menu-on-block .menu-on-left .left-title  a:hover .fa-angle-right:before{
    background-color: #6e6568;
}

#first-screen .left .main-menu .menu-on .menu-on-block .menu-on-left .left-item-list .submenu-item {
    margin-top: 5px;
}
#first-screen .left .main-menu .menu-on .menu-on-block .menu-on-left .left-item-list .submenu-item >a {
    display: inline-block;
    line-height: 15px;
    width: 70px;
    text-align: right;
    color: rgb(102,102,102);
    padding: 3px 5px 3px 0;
    vertical-align: top;
    font-weight: bold;
}
#first-screen .left .main-menu .menu-on .menu-on-block .menu-on-left .left-item-list .submenu-item >a:hover{
    color: #c81623;
}
#first-screen .left .main-menu .menu-on .menu-on-block .menu-on-left .left-item-list .submenu-item .submenu-item-content {
    display: inline-block;
    width: 620px;
    border-bottom: 1px solid #eee;
}
#first-screen .left .main-menu .menu-on .menu-on-block .menu-on-left .left-item-list .submenu-item .submenu-item-content li{
    display: inline-block;
}

#first-screen .left .main-menu .menu-on .menu-on-block .menu-on-left .left-item-list .submenu-item .submenu-item-content a{
    color: #666;
    padding: 0 7px;
    margin: 8px 0;
    display: inline-block;
    border-left: 1px solid rgb(221,221,221);
    line-height: 16px;
}
#first-screen .left .main-menu .menu-on .menu-on-block .menu-on-left .left-item-list .submenu-item .submenu-item-content a:hover{
    color: #c81623;
}


#first-screen .left .main-menu .menu-on .menu-on-block .menu-on-right{
    /*background: blue;*/
    display: inline-block;
    width: 169px;
    height: 460px;
}
#first-screen .left .main-menu .menu-on .menu-on-block .menu-on-right a{
    float: left;
    margin-right: 1px;
    font-size: 14px;
    color: #fff;
}

/*-------------   轮播样式 css  -------------------*/
#first-screen .center {
    position: absolute;
    width: 790px;
    height: 340px;
    top: 0;
    left: 190px;
    margin: 0 10px;
    background: aqua;
}

#first-screen .center .carousel{

}
#first-screen .center .imglist{
    position: relative;
}
#first-screen .center .imgitems{
    position: absolute;
    display: none;
    /*overflow: hidden;*/
}

#first-screen .center .carousel .prev{
     position: absolute;
     width: 28px;
     height: 62px;
     line-height: 62px;
     top: 50%;
     margin-top: -31px;
     background: rgba(0,0,0,0.2);
     text-align: center;
     color: #fff;
    font-size: 20px;
    font-weight: lighter;
    display: none;
 }

#first-screen .center .carousel .next{
    position: absolute;
    width: 28px;
    height: 62px;
    line-height: 62px;
    top: 50%;
    right: 0;
    margin-top: -31px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: lighter;
    display: none;
}
#first-screen .center .carousel:hover .c-btn{
    display: block;
    background: rgba(0,0,0,0.2);
    cursor: pointer;
}
#first-screen .center .carousel .c-btn:hover {
    background: rgba(1,1,1,0.5)
}
#first-screen .center .jumpto {
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: hsla(0,0%,100%,.3);
    border-radius: 9px;
    font-size: 0;
    margin-left: -80px;
    margin-bottom: 15px;
    padding: 2px 4px;

}
#first-screen .center .jumpto > li {
    display: inline-block;
    border-radius: 50%;
    padding: 6px;
    width: 10px;
    height: 10px;
    margin: 2px 4px;
    background: #fff;
}
#first-screen .center .jumpto .active{
    background: #db192a;
}

/*------------------------  轮播下面的俩图 CSS ------------------*/
#first-screen .center .carousel-under{
    height: 130px;
    position: absolute;
    top: 350px;
}
#first-screen .center .carousel-under div{
    float: left;
    width: 390px;
    height: 130px;
}
#first-screen .center .carousel-under div:nth-child(2){
    margin-left: 10px;
}
#first-screen .center .carousel-under div img{
    width: 100%;
    height: 100%;
}
/*---------------------- 轮播右边 tab 组件CSS -------------------------*/
#huodong{
    position: absolute;
    width: 190px;
    height: 40px;
    top: 120px;
    right: 36px;
}

#first-screen .right{
    width: 190px;
    height: 100%;
    position: absolute;
    top:0;
    right: 0;
}

#first-screen .right .tab-top{
    border-bottom: 1px solid #ddd;
    height: 115px;
    padding: 0 10px;
}
#first-screen .right .tab-top .user-img{
    width: 45px;
    height: 45px;
    display:inline-block;
}
#first-screen .right .tab-top .user-img img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
#first-screen .right .tab-top .user-message {
    position:relative;
    padding: 10px;
}

#first-screen .tab-top .user-in{
    position: absolute;
    top: 20%;
    right: -6px;
    text-align: left;
}
#first-screen .tab-top .user-in a{
    padding: 4px;
}
#first-screen .tab-top .user-in a:hover{
    color:  #c81623;
}
#first-screen .right .user-vip{
    text-align: center;
    height: 24px;
    font-size: 0;
}
#first-screen .right .user-vip a {
    font-size: 12px;
    margin: 3px;
    display: inline-block;
    margin-right: 10px;
    width: 70px;
    border: 2px solid #e01222;
    line-height: 20px;
    text-align: center;
    color: #e01222;
}
#first-screen .right .user-vip a:hover{
    background-color: #e01222;
    color: #fff;
}

/* tab 中间 css */
#first-screen .right .middle {
    overflow: hidden;
    padding: 0 15px;
    height: 154px;
}
#first-screen .right .mod-tab .tabs {
    padding: 5px 8px 5px 0;
    border-bottom: 1px solid #e6e6e6;
    line-height: 14px;
    position: relative;
    width: 95%;
}

#first-screen .right .mod-tab .tabs li{
    float: left;
    color: #333;
    padding-right: 15px;
    border-right: 1px solid #dfe0e1;
    margin: 0 10px 0 0;
}
#first-screen .right .mod-tab .tabs li a{
    color: #333;
}
#first-screen .right .mod-tab .tabs li:hover a{
    border-bottom: 2px solid #c81623;
}
#first-screen .right .mod-tab .tabs li:last-child{
    border-right: none;
}
#first-screen .right .mod-tab .panel{
    display: none;
    line-height: 24px;
    max-width: 160px;
    _width: 160px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 12px 0;
}
#first-screen .right .mod-tab .panel a{
    color: #666;
}

#first-screen .right .mod-tab .panel a:hover{
    color: #c81623;
}
#first-screen .right .mod-tab .active{
    display: block;
}
#first-screen .right .mod-tab .tabs .active a {
    border-bottom: 2px solid #c81623;
    padding: 4px 0;
}
#first-screen .right .mod-tab .more:hover {
    color: #c81623;
}
#first-screen .right .mod-tab .more {
    position: absolute;
    right: 10px;
    top: 118px;
    color: #333;
}
/*------------ 第一屏右下角 九宫格 CSS-------------*/
#first-screen .right .bottom{
    overflow: hidden;
    position: relative;
    height: 210px;
}
#first-screen .right .bottom a {
    color: #666;
}
#first-screen .right .bottom a:hover{
    color: #c81623;
}
#first-screen .service-top{
    margin-left: -1px;
    width: 192px;
    height: 210px;
    overflow: hidden;
}
#first-screen .service-top .service_item {
    position: relative;
    overflow: hidden;
    float: left;
    width: 47px;
    height: 69px;
    border-top: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    text-align: center;
}
#first-screen .service-top .service_item .service_lk {
    padding-top: 14px;
    height: 55px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

#first-screen .service_ico, .service_lk, .service_txt {
    display: block;
}
#first-screen .service_txt {
    height: 22px;
    line-height: 22px;
}
#first-screen .service_corner {
    position: absolute;
    right: 0;
    top: 0;
    width: 13px;
    height: 16px;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    background: #e01121;
    color: #fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

#first-screen .service_ico {
    background-image: url(../../images/jingdong-sprite02.png);
    background-size: 126px 118px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin: 0 auto;
}
em, i {
    font-style: normal;
}
#first-screen .service_ico_huafei {
    background-position: 0 -68px;
}
#first-screen .service_ico_jipiao {
    background-position: 0 -34px;
}
#first-screen .service_ico_jiudian {
    background-position: -34px -68px;
}
#first-screen .service_ico_youxi {
    background-position: -68px 0;
}
#first-screen .service_ico_qyg {
    background-position: -68px -34px;
}
#first-screen .service_corner_txt {
    vertical-align: top;
}
#first-screen .service_corner_ico {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    border: solid;
    border-width: 2px 6px;
    border-color: #e01121 #e01121 #fff;
}
#first-screen .service_ico_jiayou {
    background-position: 0 0;
}
#first-screen .service_ico_dianying {
    background-position: -34px -34px;
}
#first-screen .service_ico_huoche {
    background-position: -68px -68px;
}
#first-screen .service_ico_zhongchou {
    background-position: -102px 0;
}
#first-screen .service_ico_licai {
    background-position: -102px -34px;
}
#first-screen .service_ico_lipin {
    background-position: -102px -68px;
}
#first-screen .service_ico_baitiao {
    background-position: -34px 0;
}

#first-screen .service-hidden{
    display: none;
}
/*#first-screen .panel {*/
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
    /*width: 190px;*/
    /*!* height: 185px; *!*/
    /*background-color: #fff;*/
    /*-webkit-transition: all .2s ease-in-out;*/
    /*transition: all .2s ease-in-out;*/
    /*display: none;*/
/*}*/
/*#first-screen .active{*/
    /*display: block;*/
/*}*/


/*---------------------- tool bars CSS -------------------------*/

#tool-bars{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 6px;
    height: 100%;
    background: #7a6e6e;
}
#tool-bars span{
    position: absolute;
    right: 24px;
    background: #7a6e6e;
    color: #fff;
    height: 35px;
    line-height: 35px;
    width: 65px;
    z-index: -1;
    border-radius: 2px;
    display: none;
}
#tool-bars .toolbar-middle{
    position: absolute;
    top: 25%;
    right: 0;
    margin-top: 90px;
}
#tool-bars .items{
    /*position: relative;*/
    text-align: center;
    background: #7a6e6e;
    color: #fff;
    margin-bottom: 2px;
    border-radius: 2px;
    cursor: pointer;
}
#tool-bars .items .jd-icon {
    display: inline-block;
    width: 34px;
    height: 35px;
    line-height: 35px;
}

#tool-bars .toolbar-bottom{
    position: absolute;
    bottom: 0;
    right: 0;
}
#tool-bars .items:hover {
    background: #c81623;
}
#tool-bars .items:hover span{
    display: block;
    background: #c81623;
}



/* 底部导航  CSS */
footer{
    width: 1210px;
    margin: 0 auto;
}
footer *{
    color: #666
}
footer a:hover{
    color: #c81623
}
.footer-wrapper {
    /*border-top: 1px solid #E5E5E5;*/
    padding: 20px 0 30px 0;
    text-align: center;
}

.footer-wrapper .links a {
    margin: 0 10px;
}

.footer-wrapper .copyright {
    margin: 10px 0;
}

.footer-wrapper .authentication li {
    display: inline-block;
    margin: 0 5px;
}

